body {
    font-family: Arial;
    margin: 0;
    background: black;
    color: white;
}

/* Navbar */
nav {
    background: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 80px;
}

.hero h1 span {
    color: purple;
}

.btn {
    padding: 10px 20px;
    background: purple;
    color: white;
    border: none;
    text-decoration: none;
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
}

input {
    margin: 10px 0;
    padding: 10px;
}

#error-message {
    text-align: center;
    color: red;
    font-weight: bold;
}

.quick-links {
    background: #222;
    color: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}

.quick-links h3 {
    margin-bottom: 10px;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links ul li {
    margin: 8px 0;
}

.quick-links ul li a {
    color: #a3d0ff;
    text-decoration: none;
}

.quick-links ul li a:hover {
    text-decoration: underline;
}

